In [1]:
import requests
import zipfile
import pandas as pd 
import glob
from memory_profiler import memory_usage

In [3]:
import os

In [4]:
%load_ext rpy2.ipython 
%load_ext memory_profiler

D:\Anaconda3\envs\525\lib\site-packages\rpy2\robjects\packages.py:366: UserWarning: The symbol 'quartz' is not in this R namespace/package.
  warnings.warn(

In [5]:
file_id = 26766812
x = requests.get(f'https://api.figshare.com/v2/file/download/{file_id}')

In [6]:
open('data.zip', 'wb').write(x.content)

814041183

In [7]:
with zipfile.ZipFile('data.zip', 'r') as zip_ref:
    zip_ref.extractall('data_extracted')

In [26]:
[file for file in os.listdir("data_extracted") if ".csv" in file]

['ACCESS-CM2_daily_rainfall_NSW.csv',
 'ACCESS-ESM1-5_daily_rainfall_NSW.csv',
 'AWI-ESM-1-1-LR_daily_rainfall_NSW.csv',
 'BCC-CSM2-MR_daily_rainfall_NSW.csv',
 'BCC-ESM1_daily_rainfall_NSW.csv',
 'CanESM5_daily_rainfall_NSW.csv',
 'CMCC-CM2-HR4_daily_rainfall_NSW.csv',
 'CMCC-CM2-SR5_daily_rainfall_NSW.csv',
 'CMCC-ESM2_daily_rainfall_NSW.csv',
 'EC-Earth3-Veg-LR_daily_rainfall_NSW.csv',
 'FGOALS-f3-L_daily_rainfall_NSW.csv',
 'FGOALS-g3_daily_rainfall_NSW.csv',
 'GFDL-CM4_daily_rainfall_NSW.csv',
 'GFDL-ESM4_daily_rainfall_NSW.csv',
 'INM-CM4-8_daily_rainfall_NSW.csv',
 'INM-CM5-0_daily_rainfall_NSW.csv',
 'KIOST-ESM_daily_rainfall_NSW.csv',
 'MIROC6_daily_rainfall_NSW.csv',
 'MPI-ESM-1-2-HAM_daily_rainfall_NSW.csv',
 'MPI-ESM1-2-HR_daily_rainfall_NSW.csv',
 'MPI-ESM1-2-LR_daily_rainfall_NSW.csv',
 'MRI-ESM2-0_daily_rainfall_NSW.csv',
 'NESM3_daily_rainfall_NSW.csv',
 'NorESM2-LM_daily_rainfall_NSW.csv',
 'NorESM2-MM_daily_rainfall_NSW.csv',
 'observed_daily_rainfall_SYD.csv',
 'SAM0-UNICON_daily_rainfall_NSW.csv',
 'TaiESM1_daily_rainfall_NSW.csv']

In [20]:
# csvfiles = []
# for file in glob.glob("data_extracted" + os.path.sep + "*.csv"):
#     csvfiles.append(file)

In [27]:
csvfiles =  [file for file in os.listdir("data_extracted") if ".csv" in file]

In [28]:
csvfiles

['ACCESS-CM2_daily_rainfall_NSW.csv',
 'ACCESS-ESM1-5_daily_rainfall_NSW.csv',
 'AWI-ESM-1-1-LR_daily_rainfall_NSW.csv',
 'BCC-CSM2-MR_daily_rainfall_NSW.csv',
 'BCC-ESM1_daily_rainfall_NSW.csv',
 'CanESM5_daily_rainfall_NSW.csv',
 'CMCC-CM2-HR4_daily_rainfall_NSW.csv',
 'CMCC-CM2-SR5_daily_rainfall_NSW.csv',
 'CMCC-ESM2_daily_rainfall_NSW.csv',
 'EC-Earth3-Veg-LR_daily_rainfall_NSW.csv',
 'FGOALS-f3-L_daily_rainfall_NSW.csv',
 'FGOALS-g3_daily_rainfall_NSW.csv',
 'GFDL-CM4_daily_rainfall_NSW.csv',
 'GFDL-ESM4_daily_rainfall_NSW.csv',
 'INM-CM4-8_daily_rainfall_NSW.csv',
 'INM-CM5-0_daily_rainfall_NSW.csv',
 'KIOST-ESM_daily_rainfall_NSW.csv',
 'MIROC6_daily_rainfall_NSW.csv',
 'MPI-ESM-1-2-HAM_daily_rainfall_NSW.csv',
 'MPI-ESM1-2-HR_daily_rainfall_NSW.csv',
 'MPI-ESM1-2-LR_daily_rainfall_NSW.csv',
 'MRI-ESM2-0_daily_rainfall_NSW.csv',
 'NESM3_daily_rainfall_NSW.csv',
 'NorESM2-LM_daily_rainfall_NSW.csv',
 'NorESM2-MM_daily_rainfall_NSW.csv',
 'observed_daily_rainfall_SYD.csv',
 'SAM0-UNICON_daily_rainfall_NSW.csv',
 'TaiESM1_daily_rainfall_NSW.csv']

In [30]:
%%time
%memit
big_df = []
count = 0
for csvfile in csvfiles:
    count +=1
    df = pd.read_csv("./data_extracted/"+csvfile, index_col=None, header=0)
    df['model'] = csvfile.split("_")[0] 
    big_df.append(df)

frame = pd.concat(big_df, axis=0, ignore_index=True)

peak memory: 1061.02 MiB, increment: 0.00 MiB
Wall time: 1min 51s

In [31]:
frame

,time,lat_min,lat_max,lon_min,lon_max,rain (mm/day),model
0,1889-01-01 12:00:00,-36.250000,-35.00000,140.625,142.500,3.293256e-13,ACCESS-CM2
1,1889-01-02 12:00:00,-36.250000,-35.00000,140.625,142.500,0.000000e+00,ACCESS-CM2
2,1889-01-03 12:00:00,-36.250000,-35.00000,140.625,142.500,0.000000e+00,ACCESS-CM2
3,1889-01-04 12:00:00,-36.250000,-35.00000,140.625,142.500,0.000000e+00,ACCESS-CM2
4,1889-01-05 12:00:00,-36.250000,-35.00000,140.625,142.500,1.047658e-02,ACCESS-CM2
...,...,...,...,...,...,...,...
62513858,2014-12-27 12:00:00,-30.157068,-29.21466,153.125,154.375,5.543748e-01,TaiESM1
62513859,2014-12-28 12:00:00,-30.157068,-29.21466,153.125,154.375,7.028577e+00,TaiESM1
62513860,2014-12-29 12:00:00,-30.157068,-29.21466,153.125,154.375,2.347570e-01,TaiESM1
62513861,2014-12-30 12:00:00,-30.157068,-29.21466,153.125,154.375,2.097459e+00,TaiESM1
62513862,2014-12-31 12:00:00,-30.157068,-29.21466,153.125,154.375,5.484206e-01,TaiESM1

In [ ]:
# frame.to_csv("figshareairline/combined_data.csv")")

#### TODO:

Run time and memory Usage: